@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";

:root{
	--color-primary: #0D47A1;
	--color-secondary-blue: #648CDD;
	--color-background: #F5F5F5;
	--color-background-cards: #EBEBEB;
	--color-text-gray: #343A40;
	--color-red: #E63946;
	--color-green: #3FA777;
	--color-yellow: #FFE775;
	--color-button: #0A3880;
	--color-button-text: #F5F5F5;
	--color-button-hover: #0A306B;
	--color-input-title: #C5D4EC;
	--color-input-border-gray: #BFBFBF;
	--color-input-text: rgba(64, 64, 64, 54%);
	--color-menu-sidebar: #343A40;
	--color-menu-contrast: #494E53;
	--color-shadow: #888888;
	--color-background-graphic:#FFFFFF;
	--color-white: #FFFFFF;

	--header-height: 56px;
}

body{
  font-family: Poppins;
  height: 100vh;
}

#page-menu {
	display: flex;
}

#page-menu > .menu-content {
	flex: 1;
}

#sidebar {
	z-index: 10;
  width: 235px;
  flex-shrink: 0;
	overflow: hidden;
	transition: width 200ms ease;
	background: var(--color-menu-sidebar);
	box-shadow: 0 0 10px 0.2rem rgba(0,0,0, .3);
}

#sidebar li {
	display: flex;
	align-items: center;
}

#sidebar .sidebar-header {
	padding: 0 24px;
	justify-content: center;
	height: var(--header-height);
  border-bottom: 1px solid var(--color-menu-contrast);
}

#sidebar .sidebar-header .logo {
	width: 32px;
	height: 32px;
	margin-right: 4px;
	object-fit: contain;
}

#sidebar .sidebar-header .app-title {
	height: 24px;
	object-fit: contain;
	transition: all 200ms;
}

#sidebar .nav-item .nav-link {
	flex: 1;
	display: flex;
	padding: 16px 24px;
	position: relative;
	align-items: center;
	color: var(--color-white);
}

#sidebar .nav-item .nav-link img {
	width: 25px;
    height: 25px;
}

#sidebar .nav-item .nav-link span {
	transition: opacity 200ms;
}

#sidebar .nav-item .nav-link.active {
	border-radius: initial;
	background-color: var(--color-menu-contrast);
}

#sidebar .nav-item .nav-link.active::before {
	top: 0;
	left: 0;
	bottom: 0;
	width: 4px;
	content: '';
	position: absolute;
	background-color: var(--color-secondary-blue);
}

#sidebar.collapsed {
	width: 76px;
}

#sidebar.collapsed .nav {
	flex-wrap: initial;
}

#sidebar.collapsed .sidebar-header .app-title {
	display: none;
}

#sidebar.collapsed .nav-item .nav-link span {
	opacity: 0;
}

.menu-content .tab-pane {
	background-color: var(--color-background);
}

.menu-content .tab-pane > header {
	display: flex;
	padding: 0 1rem;
	align-items: center;
	height: var(--header-height);
	justify-content: space-between;
	background-color: var(--color-white);
}

.menu-content .tab-pane > header .collapse-sidebar {
	padding: 8px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-content .tab-pane > header h1 {
	margin: 0;
	font-size: 16px;
	font-weight: 600;
}

.menu-content .tab-pane > header .logout {
  display: flex;
  font-size: 14px;
	align-items: center;
  color: var(--color-red);
}

.menu-content .tab-pane > header .logout img {
	margin-right: 8px;
}

span.ml-3 {
  font-size: 14px;
}

/*Ajustando os cards*/

.card {
  margin-top: 20px;
  border-radius: 0.25rem;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  box-shadow: 1px 1px 4px 0px var(--color-shadow);
  background-color: var(--color-background-graphic);
}

.doughnut-card{
  margin-bottom: 32px !important;
}

.card-header {
  font-size: 16px;
  font-weight: 600;
  color: #083171;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.09);
  background-color: var(--color-input-title);
}

div#card-header-sms {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.card-header {
  padding: .70rem;
  align-items: center;
  justify-content: space-between;
}

div#first-card{
  display: flex;
  font-size: 14px;
}

.more_informations{
  float: right;
  font-weight: 400;
  transition: 0.3s;
  padding: 3px 10px;
  border-radius: 10px;
  color: var(--color-button-text);
  background-color: var(--color-button);
}

.more_informations:hover{
  
  background-color: var(--color-button-hover);
}

.card-columns .card {
  margin-bottom: 0.75rem;
}


.container-fluid{
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

#layoutSidenav_content{
  margin-top: 20px;
  margin-bottom: 20px;
}

  @media (min-width: 992px) {
      

    #layoutSidenav_content{
          margin-top: 20px;
          margin-left: 50px;
          margin-right: 50px;
    }
  }


  /*Ajustando o grid*/

.grid {
    display: grid;
}

.item {  
  text-align: center;
  width: auto;   
}

.item.top.first,.item.down.first{
  color: var(--color-primary);
}

.item.top.second,.item.down.second{
  color: var(--color-green);
}

.item.top.third,.item.down.third{
  color: var(--color-red);
}

.top{
  margin-top:10px;
}

.down{
  margin-bottom:10px;
}

.grid {
  font-weight: 400;
  font-size: 14px;
  padding: 0;
  list-style-type: none;
  border-radius: 0.25rem;
  background-color: var(--color-background-cards);  
}


.grid-template-columns-4 {
  grid-template-columns: repeat(3, 1fr);
}

/*Ajustando select*/

.weeks{
  float: right;
  font-size: 12px;
  text-align: left;
  font-weight: 400;
  border-radius: 0.40rem;
  border-color: #D0D0D0;
  padding: 2px 15px 2px 5px;
  color: var(--color-button-text);
  background-color: var(--color-button);
}


.average-use{
  font-size: 14px;
  padding: 6px 0px;
  font-weight: 400;
  text-align: center;
  border-radius: 0.25rem;
  color: var(--color-primary);
  background-color:var(--color-background-cards);
  box-shadow: 1px 1px 4px 0px var(--color-shadow);
}

/*table*/

table, td, th {  
  border: 1px solid #ddd;
}

table {
  width: 100%;
  margin-bottom: 32px;
  border-radius: 0.25rem;
  border-collapse: collapse;
  box-shadow: 1px 1px 4px 0px var(--color-shadow);
  background-color: var(--color-background-graphic);
}

th{
  font-size: 18px;
  font-weight: 600;
  text-align: center;
}

th, td {
  padding: 7px;
}

/*Filtro*/

.filter{
  font-size: 18px;
  text-align: right;
  padding-right: 30px;
}
.filter label{
  font-size: 16px;
  font-weight: 500;
}

.filter input{
  width: 200px;
  height: 31px;
  padding: 0 8px;
  font-size: 14px;
  border-radius: 4px;
  color: var(--color-primary);
  border: 1px solid var(--color-input-border-gray);
}

#buttonFilter{
  width: auto;
  border: none;
  height: 20px;
  cursor:pointer;
  padding-left: 2px;
  background-color: Transparent;
}

.close{
  opacity: 5;
}

.modal-body{
  padding: 24px;
}

#padding-modalCorfirm{
  padding: 12px;
}

#modalCorfirm-header{
  padding: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column-reverse;
}

.table thead th {
  vertical-align: inherit;
}

.table td, .table th {
  vertical-align: inherit;
}

.modal-content{
  background-color: var(--color-background);
}

.table td{
  font-size: 14px;
  text-align: center;
  color: var(--color-primary);
  background-color: var(--color-background-cards);
}

.table th{
  font-size: 14px;
  color: var(--color-text-gray);
}

.align-self-center {
  margin-left: 1.5rem;
}

h5{
  height: 53px;
  display: flex;
  font-size: 16px;
  text-indent: 16px;
  border-radius: 4px;
  align-items: center;
  color: var(--color-button-text);
  background-color: var(--color-primary);
}

input[type=date].form-control{
  height: 31px;
  font-size: 14px;
  color: var(--color-primary);
}

#table-datas {
  width: 100%;
  margin-bottom: 1rem;
}

/*CSS SettingsPage*/

#settings{
  height: 100vh !important;
}

.card .card-header{
  font-size: 14px;
  color: #EEF0F4;
  align-items: center;
  justify-content: space-between;
  background-color: var(--color-primary);
}

#card-settings{
  font-size: 16px;
}

.col-lg-6 {
  width: 800px;
}

.card-body{
    display: flex;
    align-items: center;
}

.card-body-a{
    display: flex;
    flex: 1 1 auto;
    min-height: 1px;
    padding: 1.25rem;
}
.card-body-b{
    width: 170px;
    display: flex;
    flex: 1 1 auto;
    min-height: 5px;
    padding: 0.4rem;
    color: #343A40;
    align-items: center;
    background-color: var(--color-background-cards);
}

.card-text{
    width: 85px;
    display: flex;
    align-content: end;
    align-items: center;
    justify-content: end;
    color: var(--color-primary);
}

.card-x{
    display: flex;
}

.card-y1{
  width: 100%;
  display: flex;
}

.card-y2{
    display: flex;
}

.card-z{
    width: 60%;
}


.btn-primary{
    color: var(--color-background);
    border-color: var(--color-primary);
    background-color: var(--color-primary);
}

a.btn.btn-primary {
  display: flex;
  font-size: 14px;
  align-items: center;
}

button.btn.btn-primary {
  height: 25px;
  width: 106px;
  display: flex;
  font-size: 12px;
  align-items: center;
  justify-content: center;
  background: var(--color-button);
  border-color: var(--color-input-title);
}

#buttonConfirm{
  width: 284px;
  height: 38px;
  display: flex;
  font-size: 14px;
  font-weight: 300;
  align-items: center;
  margin-bottom: 24px;
  justify-content: center;
  background: var(--color-button);
}


.form-control-1{
    width: 80%;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid #D3D3D3;
    background-clip: padding-box;
    color: var(--color-menu-sidebar);
    height: calc(1.5em + .75rem + 2px);
    background-color: var(--color-background-cards);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}
.form-control{
    width: 100%;
    display: block;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    border-radius: .25rem;
    padding: .375rem .75rem;
    border: 1px solid #ced4da;
    background-clip: padding-box;
    height: calc(1.5em + .75rem + 2px);
    background-color: var(--color-white);
    transition: border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.modal{
    padding-right: 0px;
}

.form-group{
  width: 60%;
  color: var(--color-primary);
}

.modal-title h5{
  font-weight: 400;
  color: #5775B2;
    transform: translateX(106px);
}

.modal-header{
    border-bottom: none;
    align-items: center;
}

.modal-footer{
  border-top: none;
  justify-content: center;
}

.bot-a{
    width: 60%;
}

.close{
    color: var(--color-button);
}

form{
    transform: translateX(95px);
}

main.content{
  margin: auto;
  display: flex;
  width: fit-content;
  flex-direction: column;
}

.col-form-label{
  font-weight: 500 !important;
}

h5#exempleModalLabel {
  font-size: 20px;
  height: inherit;
  font-weight: 300;
  display: contents;
  align-items: center;
  background: inherit;
  color: var(--color-primary);
} 

div#card-provedor {
  width: inherit;
  margin-top: inherit;
}