<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/fontawesome/css/all.min.css">
    <link rel="stylesheet" href="../CSS/all.css">
</head>
<body>
    <div class="flex-dashboard">
        <sidebar id="sidebar">
            <div class="sidebar-title">
                <img src="../images/Logo.png" alt="Logo de Um caminhão">
                <h2>Expresso API</h2>
            </div>
            <div class="menu">
                <ul>
                    <li>
                        <i class="fas fa-chart-line"></i>
                        <a href="dashboard.html">Dashboard</a>
                    </li>
                    <li>
                        <i class="fas fa-columns"></i>
                        <a href="#">Datalhes dos Planos</a>
                    </li>
                    <li>
                        <i class="fas fa-cog"></i> 
                        <a href="#">Configuração</a>
                    </li>
                    <li class="sidebar_logout">
                        <i class="fas fa-sign-out-alt"></i> 
                        <a href="../login.html" class="linkHeader">Logout</a>
                    </li>
                </ul>
            </div>
        </sidebar>
        <main id="main-content">
            <header>
                <i id="iconMenu" onclick= "responsiveSidebar()" class="fas fa-bars"></i>
                <a href="../login.html" class="linkHeader"> <i class="fas fa-sign-out-alt"></i> Logout</a>
            </header>
            <div class="main-content">
                <div class="main-content-title">
                    <h2>DASHBOARD</h2>
                </div>
                <div class="dashboard-content">
                    <div class="dashboard-flex-parent">
                        <!--SMS-->
                        <div class="dashboard-card">
                            <div class="dash-grafic">
                                <h2>SMS</h2>
                                <div id="donut_single_sms"></div>
                            </div>

                            <div class="dash-info">
                                <div class="contratado">
                                    <h2>Contratado</h2>
                                    <p>1000</p>
                                </div>
                                <div class="utilizado">
                                    <h2>Utilizado</h2>
                                    <p>200</p>
                                </div>
                                <div class="extras">
                                    <h2>Extras</h2>
                                    <p>100</p>
                                </div>
                            </div>

                            <div class="dash-legend">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2">Resumo do Plano Pacote SMS</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th>Nome do Plano</td>
                                            <td>APP 20</td>
                                            
                                        </tr>

                                        <tr>
                                            <th>Valor Mensal</td>
                                            <td>R$500,00</td>
                                        </tr>

                                        <tr>
                                            <th>Valor por Mensagem</td>
                                            <td>R$0,10</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                            <div class="dash-table">
                                <h2>Números Diários de Sms</h2>
                                <div id="chart-div_sms"></div>
                            </div>

                            <div class="dash-table-info">
                                <p>Uso médio diário de SMS: </p> <p>8</p>
                            </div>
                        </div>
                        <!--CHAMADAS EXCEDENTES-->
                        <div class="dashboard-card">
                            <div class="dash-grafic">
                                <h2>CHAMADAS EXCEDENTES</h2>
                                <div id="donut_single_call"></div>
                            </div>

                            <div class="dash-info">
                                <div class="contratado">
                                    <h2>Contratado</h2>
                                    <p>2000</p>
                                </div>
                                <div class="utilizado">
                                    <h2>Utilizado</h2>
                                    <p>300</p>
                                </div>
                                <div class="extras">
                                    <h2>Extras</h2>
                                    <p>300</p>
                                </div>
                            </div>

                            <div class="dash-legend">
                                <table>
                                    <thead>
                                        <tr>
                                            <th colspan="2">Resumo do Plano Pacote Chamadas Excedentes</th>
                                        </tr>
                                    </thead>

                                    <tbody>
                                        <tr>
                                            <th>Nome do Plano</td>
                                            <td>APP 21</td>
                                            
                                        </tr>

                                        <tr>
                                            <th>Valor Mensal</td>
                                            <td>R$1000,00</td>
                                        </tr>

                                        <tr>
                                            <th>Valor por Chamadas</td>
                                            <td>R$0,25</td>
                                        </tr>


                                    </tbody>
                                </table>
                            </div>

                            <div class="dash-table">
                                <h2>Números Chamadas Diárias</h2>
                                <div id="chart-div_call"></div>
                            </div>

                            <div class="dash-table-info">
                                <p>Média de Chamadas diárias: </p> <p>10</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../plugins/fontawesome/js/all.min.js"></script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script src="../js/dashboard_sms.js"></script>
    <script src="../js/dashboard_call.js"></script>
    <script src="../js/menu_sidebar.js"></script>
    
</body>
</html>